{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<style>
    .container {
        margin-top: 20px;
    }
</style>
{{ parent() }}
<div class="container">
    {% if is_granted('ROLE_ADMIN') %}
        <table class="table table-dark">

           <tbody>
               <tr>
                   {% for key, movie in movies %}
                       <td>{{ movie.title }}</td>
                       <!--<img src="data:image/jpg;base64, base64_encode{{ movie.image }}">-->
                       <td><a href="{{ path('movie_detail', {id: movie.id}) }}">Details</a></td>

                               {#<img src="data:image/jpg:base64,{{ movie.image }}" alt="the-shawshank-redemption">#}
                               {#<img src="{{ asset('public/images/' ~ movie.image) }}">#}
                   {% endfor %}
               </tr>
           </tbody>
        </table>
        <a href="{{ path('app_logout')}}">Logout</a>
        {% else %}
                <a href="{{ path('login')}}">Login</a>
        {% endif %}


</div>
{% endblock %}
